body {
  padding-top: 65px;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}
.brand{
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.navlogo{
  width: 50px;
}
.nav > ul> li {
  list-style-type: none;
}
.nav > ul> li > a {
  text-decoration: none;
}
/* navbar */
.navbar-default {
    background-color: #FFA600;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: rgba(255,255,255,.8);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #FFA600;
    border-bottom: 2px solid white;
}

/* Custom coloring */
.btn-warning{
  background-color: #FFA600;
}
.panel-warning > .panel-heading{
  background-color: #FFA600;
  border-color: #FFA600;
  color: white;
}
.panel-warning{
  border-color: #FFA600;
}
