.crossover{
  background-image: linear-gradient(0deg, #5a40d8, #d84add);
}
.xorevolution{
  background-image: linear-gradient(0deg, #3b3e4c, #666678);
}
.classifycolors{
  background-image: linear-gradient(16deg, red, yellow);
}
.playground{
  background-image: linear-gradient(0deg, #5bc0de, #428bca);
}
