.node {
  stroke: #fff;
  stroke-width: 1px;
    cursor: move;
  fill: transparent;
}
.link {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  marker-end: url(#end-arrow);
  opacity: 0.7;
}
.label {
  fill: white;
  font-size: 10px;
  font-weight: 200;
  text-anchor: middle;
  cursor: move;
  opacity: 0.5;
}
